*{
    margin: 0;
    padding: 0;

}
.main{
    margin: 30px;
}
.container{
   
    margin-top: 30px;
    border: 1px solid;
    text-align: center;
    padding: 50px;
    border-radius: 5px;
}
button{
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
    transition: .5s;
    
}
button:hover{
    
}